body {
    background: #f5d9df;
    font-family: "Nunito", sans-serif;
}
#mainNavbar{
    background: #f3cbd3;
    opacity: 0.8;
    height:53px;
}
.blurb h2 {
    color: #ea1c2c;
    font-weight: 100;
    font-size: 2rem;
}
.blurb p{
    color: #f498b8;
    font-weight: 100;
    font-size: 1.25rem;
    line-height: 2;
}
.firstsection{
    padding-top: 53px;
}
.content {
    margin-top: 100px;
    margin-bottom: 100px;
}
#mainNavbar {
    font-size: 1.5rem;
    font-weight: 100;
}
#mainNavbar .nav-link {
    color: white;
    text-shadow: -2px -2px 3px red;
}
#mainNavbar .nav-link:hover {
    color: #ea1c2c;
}
#mainNavbar .navbar-brand {
    color: white;
    text-shadow: -1px -1px 3px red;
}
.collapsebar {
    background: #f3cbd3;
    opacity: 0.8;
}
#headingGroup span {
    color: #ea1c2c;
}
#headingGroup h1 {
    font-weight: 100;
    font-size: 3rem;
}
.text-uppercase{
    color: #ea1c2c;
}
.page-footer {
    background: #f3cbd3;
    opacity: 0.5;
}
.footer-text{
    color: #ea1c2c;
    
}
.footer-copyright {
    color: #ea1c2c;
    
}
.footer-copyright a {
    color: #ea1c2c;
    
}
.list-unstyled a {
    font-style: none;
    color: #ea1c2c;
}
}
@media (max-width:1250px) {
    #headingGroup h1 {
        font-size: 2.5rem;
}
@media (max-width:1050px) {
    #headingGroup h1 {
        font-size: 2rem;
}